<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redbone</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="iconos/icon.png">
</head>

<body>
    <!-- LARGE PAGE -->

    <section class="home" id="home">

        <div class="banner">
            <div class="contenidoBanner">
                <h1 class="textoBanner">
                    World Princess III
                    <br> by Grimes
                    </h3>
                    <button class="buyNowButton">
                        Buy now
                    </button>
            </div>
            <div class="grimesAlbum">
                <img src="imagenes/grimesalbum.jpg" alt="">
            </div>
        </div>

        <!-- NUEVA MUSICA !-->

        <section class="newMusic">

            <h2 class="titulos">
                What's new
            </h2>
            <div class="nuevaMusica">
                <!-- Artista uno !-->

                <article class="artistaUno">
                    <p class="numeracionHome">001.</p>
                    <h2 class="home">
                        Lust for Life
                    </h2>
                    <h3 class="home">
                        by Lana Del Rey
                    </h3>
                    <div class="contenedorCD">
                        <div class="CD">
                            <div class="lado frente lana">
                            </div>
                            <div class="lado atras lana">
                            </div>
                        </div>

                    </div>

                </article>


                <!-- Artista dos !-->

                <article class="artistaDos">
                    <p class="numeracionHome">002.</p>
                    <h2 class="home">
                        Scum Fuck Flower Boy
                    </h2>
                    <h3 class="home">
                        by Tyler the Creator
                    </h3>
                    <div class="contenedorCD">
                        <div class="CD">
                            <div class="lado frente tyler">
                            </div>
                            <div class="lado atras tyler">
                            </div>
                        </div>

                    </div>

                </article>
                <!-- Artista tres !-->

                <article class="artistaTres">
                    <p class="numeracionHome">003.</p>
                    <h2 class="home">
                        I See You
                    </h2>
                    <h3 class="home">
                        by The XX
                    </h3>
                    <div class="contenedorCD">
                        <div class="CD">
                            <div class="lado frente thexx">
                            </div>
                            <div class="lado atras thexx">
                            </div>
                        </div>

                    </div>

                </article>

                <!-- Artista cuatro !-->

                <article class="artistaCuatro">
                    <p class="numeracionHome">004.</p>
                    <h2 class="home">
                        Melodrama
                    </h2>
                    <h3 class="home">
                        by Lorde
                    </h3>
                    <div class="contenedorCD">
                        <div class="CD">
                            <div class="lado frente lorde">
                            </div>
                            <div class="lado atras lorde">
                            </div>
                        </div>

                    </div>

                </article>

            </div>
        </section>


        <!-- GALERIA DE FOTOS !-->


        <section class="gallery">

            <h2 class="titulos">
                Take a look
            </h2>


            <div class="galeria">
                <div class="fila">
                    <div class="imagenGaleria">
                        <a href="#foto1">
                            <img src="imagenes/banner/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="imagenGaleria">
                        <a href="#foto2">
                            <img src="imagenes/banner/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="imagenGaleria">
                        <a href="#foto3">
                            <img src="imagenes/banner/3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="fila">

                    <div class="imagenGaleria">
                        <a href="#foto4">
                            <img src="imagenes/banner/4.jpg" alt="">
                        </a>
                    </div>
                    <div class="imagenGaleria">
                        <a href="#foto5">
                            <img src="imagenes/banner/5.jpg" alt="">
                        </a>
                    </div>
                    <div class="imagenGaleria">
                        <a href="#foto6">
                            <img src="imagenes/banner/6.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="fila">

                    <div class="imagenGaleria">
                        <a href="#foto7">
                            <img src="imagenes/banner/7.jpg" alt="">
                        </a>
                    </div>
                    <div class="imagenGaleria">
                        <a href="#foto8">
                            <img src="imagenes/banner/8.jpg" alt="">
                        </a>
                    </div>
                    <div class="imagenGaleria">
                        <a href="#foto9">
                            <img src="imagenes/banner/9.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            </div>

        </section>

        <section class="fotos" id="foto1">
            <div class="foto">
                <img src="imagenes/banner/1.jpg" alt="">
            </div>
            <p class="artista1">Lana Del Rey</p>
            <p class="artista">Lana Del Rey</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto2">
            <div class="foto">
                <img src="imagenes/banner/2.jpg" alt="">
            </div>
            <p class="artista1">Neighbourhood</p>
            <p class="artista">The Neighbourhood</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto3">
            <div class="foto">
                <img src="imagenes/banner/3.jpg" alt="">
            </div>
            <p class="artista1">Lorde</p>
            <p class="artista">Lorde</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto4">
            <div class="foto">
                <img src="imagenes/banner/4.jpg" alt="">
            </div>
            <p class="artista1">Kali Uchis</p>
            <p class="artista">Kali Uchis</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto5">
            <div class="foto">
                <img src="imagenes/banner/5.jpg" alt="">
            </div>
            <p class="artista1">Tyler the Creator</p>
            <p class="artista">Tyler the Creator</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto6">
            <div class="foto">
                <img src="imagenes/banner/6.jpg" alt="">
            </div>
            <p class="artista1">Lana Del Rey</p>
            <p class="artista">Lana Del Rey</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto7">
            <div class="foto">
                <img src="imagenes/banner/7.jpg" alt="">
            </div>
            <p class="artista1">Neighbourhood</p>
            <p class="artista">The Neighbourhood</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto8">
            <div class="foto">
                <img src="imagenes/banner/8.jpg" alt="">
            </div>
            <p class="artista1">Childish Gambino</p>
            <p class="artista">Childish Gambino</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <section class="fotos" id="foto9">
            <div class="foto">
                <img src="imagenes/banner/9.jpg" alt="">
            </div>
            <p class="artista1">Kali Uchis</p>
            <p class="artista">Kali Uchis</p>
            <a href="#cerrar">
                <button class="x">Cerrar</button>
            </a>
        </section>

        <!-- ESPECIFICACIONES !-->

        <section class="especificaciones">
            <div class="contenidoEsp">

                <div class="imagenesNY">

                </div>

                <div class="info">
                    <article class="city">
                        <div class="tituloTec">
                            <h4>New York</h4>
                        </div>
                        <div class="categorias">
                            <ul>
                                <li>Artists signed</li>
                                <li>Now touring</li>
                                <li>Albums released</li>
                                <li>Albums sold</li>
                                <li>Streamings</li>
                                <br>
                                <li>Address</li>
                                <li>Phone number</li>
                            </ul>
                        </div>
                        <div class="informacion">
                            <ul>
                                <li>60</li>
                                <li>11</li>
                                <li>39</li>
                                <li>20 million</li>
                                <li>10.000 millions+</li>
                                <br>
                                <li>228 Park Ave S New York, NY 10003-1502 US </li>
                                <li>+1 212 683 7000 </li>
                            </ul>
                        </div>
                    </article>

                </div>
            </div>


            <div class="contenidoEsp">

                <div class="info">
                    <article class="city">
                        <div class="tituloTec">
                            <h4>Los Angeles</h4>
                        </div>
                        <div class="categorias">
                            <ul>
                                <li>Artists signed</li>
                                <li>Now touring</li>
                                <li>Albums released</li>
                                <li>Albums sold</li>
                                <li>Streamings</li>
                                <br>
                                <li>Address</li>
                                <li>Phone number</li>
                            </ul>
                        </div>
                        <div class="informacion">
                            <ul>
                                <li>34</li>
                                <li>6</li>
                                <li>40</li>
                                <li>17 million</li>
                                <li>10.000 millions+</li>
                                <br>
                                <li>228 Park Ave S New York, NY 10003-1502 US </li>
                                <li>+1 212 683 7000 </li>
                            </ul>
                        </div>
                    </article>

                </div>

                <div class="imagenesLA">

                </div>

            </div>

        </section>

        <section class="newsletter">
            <h2 class="titulos">Be the first!</h2>
            <p>Subscribe to our
                <strong>newsletter</strong> to recive our lastest upates:
                <br> New music, tour dates and merchandiser</p>

            <input type="email" name="" id="" placeholder="Your email here">
            <button class="newsletterButton">Send</button>
        </section>

        <section class="footer">
            <div class="contenidoFooter">
                <div class="logos">
                    <img src="iconos/logo.svg" alt="" width="30%">
                    <br>
                    <img src="iconos/umglogo.png" alt="" width="30%">
                </div>
                <div class="footerInfo">

                    <ul>
                        <li>
                            <a href="">Legal disclaimer</a>
                        </li>
                        <li>
                            <a href="">Universal Music Division</a>
                        </li>
                        <li>
                            <a href="">Sponsor</a>
                        </li>
                    </ul>
                    <p class="enFooter">Los Angeles, CA
                        <br> All rights reserved ©
                        <br> Design and development by Andrés Gar</p>

                </div>
                <div class="footerRedes">
                    <div class="redesSocialesFooter">
                        <a href="#">
                            <div class="redes_facebook">
                            </div>
                        </a>
                        <a href="#">
                            <div class="redes_instagram">
                            </div>
                        </a>
                        <a href="#">
                            <div class="redes_twitter">
                            </div>
                        </a>
                        <a href="#">
                            <div class="redes_youtube">
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </section>


        <div class="enlacesInteres" id="" class="main">
            <ul class="enlaces">
                <li class="enlaces_item">
                    <a href="#" class="enlaces_link"> Our artists </a>
                </li>
                <li class="enlaces_item">
                    <a href="#" class="enlaces_link"> About us </a>
                </li>
                <li class="enlaces_item">
                    <a href="#" class="enlaces_link"> Sign with us </a>
                </li>
            </ul>

        </div>

        <div class="contenedorHome">

            <div class="navegacion" id="nav" class="main">
                <ul class="menu">
                    <li class="menu_item" id="menu_item_uno">
                        <a href="index.html" class="menu_link"> home </a>
                    </li>
                    <li class="menu_item" id="menu_item_dos">
                        <a href="#" class="menu_link"> about </a>
                    </li>
                    <li class="menu_item" id="menu_item_tres">
                        <a href="#" class="menu_link"> merch </a>
                    </li>
                    <li class="menu_item" id="menu_item_cuatro">
                        <a href="#" class="menu_link"> tours </a>
                    </li>
                    <li class="menu_item" id="menu_item_cinco">
                        <a href="#" class="menu_link"> photography </a>
                    </li>
                    <li class="menu_item" id="menu_item_seis">
                        <a href="#" class="menu_link"> videography </a>
                    </li>
                </ul>

                <div class="redesSocialesPag2">
                    <a href="#">
                        <div class="redes_facebook">
                        </div>
                    </a>
                    <a href="#">
                        <div class="redes_instagram">
                        </div>
                    </a>
                    <a href="#">
                        <div class="redes_twitter">
                        </div>
                    </a>
                    <a href="#">
                        <div class="redes_youtube">
                        </div>
                    </a>

                </div>
            </div>

            <div class="menuIcon" id="menuIcon">
            </div>
            <div class="redboneLogo"></div>
        </div>
        <script src="main.js"></script>
    </section>

</body>

</html>