<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redbone</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="iconos/icon.png">
    <link rel="stylesheet" href="../css/onepage-scroll.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


    <!-- Control Video -->
    <script type="text/javascript">
        // Loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        // Replaces the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('video', {
                videoId: '_lMlsPQJs6U',
                playerVars: {
                    autoplay: 1,
                    controls: 0,
                    disablekb: 1,
                    hl: 'ru-ru',
                    loop: 1,
                    modestbranding: 1,
                    showinfo: 0,
                    autohide: 1,
                    color: 'white',
                    iv_load_policy: 3,
                    theme: 'light',
                    rel: 0,
                    start: 91,
                    end: 240
                },
                events: {
                    'onReady': onPlayerReady,
                }
            });
        }

        function onPlayerReady(event) {
            player.mute();
        }
    </script>

</head>

<body>

    <div class="main">

        <section class="canvas">
            <div class="interaccion">

            </div>
        </section>

        <section class="primeraPag" id="primeraPag">

            <div class="redboneLogo" id="redboneLogo"> </div>
            <p class="numeracion"> 001. </p>
            <p class="decoracion"> + </p>

            <div class="newMusic">
                <h1>
                    What's
                    <span> not </span>
                    <br> on the
                    <span> radio </span>
                </h1>

                <button class="newMusicButton">new music</button>

            </div>
        </section>

        <!-- WHAT ABOUT US -->

        <section class="segundaPag" id="segundaPag">
            <div class="colorGris">
            </div>
            <div class="imagen">
            </div>
            <p class="numeracion"> 001. </p>
            <h2>
                What's up with
                <br> us
            </h2>
            <div class="parrafo">
                <p class="textoParrafo">
                    In everything we do, we are committed to artistry, innovation and entrepreneurship.
                    <br> We own and operate a broad array of businesses engaged in recorded music, music publishing, merchandising,
                    and audiovisual content in more than 60 countries.
                </p>
            </div>

        </section>

        <!-- WHAT'S UP WITH OUR ARTISTS -->

        <section class="terceraPag">
            <div class="colorGris">
            </div>
            <div class="imagen">
            </div>
            <p class="numeracion"> 002. </p>
            <h2>
                What's up with
                <br> our artists
            </h2>
            <div class="parrafo">
                <p class="textoParrafo">
                    The biggest names in indie and alternative music are signed with us.
                    <br> Nowadays, some of they are touring over seas, selling more than 1 million almubs all around the world.
                </p>
            </div>

        </section>



        <!-- HOW ABOUT YOU JOIN US -->

        <section class="cuartaPag" class="scrollpage">
            <div class="colorGris">
            </div>
            <div class="imagen">
            </div>
            <p class="numeracion"> 003. </p>
            <h2>
                How about you
                <br> join us
            </h2>
            <div class="parrafo">
                <p class="textoParrafo">
                    You can join us by summiting your music. We see it, if we like it, that’s is! You are up in our bus.
                </p>
            </div>

        </section>

    </div>

    <div class="skip" id="" class="main">
        <p class="skip">
            <a href="home.html"> Skip intro </a>
        </p>
    </div>

    <div class="enlacesInteres" id="" class="main">
        <ul class="enlaces">
            <li class="enlaces_item">
                <a href="#" class="enlaces_link"> Our artists </a>
            </li>
            <li class="enlaces_item">
                <a href="#" class="enlaces_link"> About us </a>
            </li>
            <li class="enlaces_item">
                <a href="#" class="enlaces_link"> Sign with us </a>
            </li>
        </ul>

    </div>

    <div class="contenedor">

                    <div id="video" class="exa"></div>

        <div class="navegacion" id="nav" class="main">
            <ul class="menu">
                <li class="menu_item" id="menu_item_uno">
                    <a href="#" class="menu_link"> home </a>
                </li>
                <li class="menu_item" id="menu_item_dos">
                    <a href="#" class="menu_link"> about </a>
                </li>
                <li class="menu_item" id="menu_item_tres">
                    <a href="home.html" class="menu_link"> skip </a>
                </li>
                <li class="menu_item" id="menu_item_cuatro">
                    <a href="#" class="menu_link"> tours </a>
                </li>
                <li class="menu_item" id="menu_item_cinco">
                    <a href="#" class="menu_link"> photography </a>
                </li>
                <li class="menu_item" id="menu_item_seis">
                    <a href="#" class="menu_link"> videography </a>
                </li>
            </ul>

        </div>

        <div class="menuIcon" id="menuIcon">
        </div>
        <div class="redboneLogoNegro"></div>
        <div class="redesSociales">
            <a href="#">
                <div class="redes_facebook">
                </div>
            </a>
            <a href="#">
                <div class="redes_instagram">
                </div>
            </a>
            <a href="#">
                <div class="redes_twitter">
                </div>
            </a>
            <a href="#">
                <div class="redes_youtube">
                </div>
            </a>
<button id="botonControl">
        OK
    </button>
        </div>
    </div>

    
   <!-- <div class="cargando" id="cargando">
        <p id="cargandoTexto1">We are not just music</p>
        <p id="cargandoTexto2">We are an experience</p>

    </div> -->
    <script src="../js/jquery.onepage-scroll.js"></script>
    <script src="../js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/plugins/CSSPlugin.min.js"></script>
    <script src="../js/animaciones.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/jquery.youtubebackground.js"></script>
    <script src="https://www.youtube.com/player_api"></script>

    <script src="../js/p5.min.js"></script>
    <script src="../addons/p5.dom.min.js"></script>
    <script src="../addons/p5.sound.min.js"></script>
    <script src="../js/p5.js"></script>
</body>

</html>