<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/start.css">
    <link rel="icon" href="iconos/icon.png">
    <title>Document</title>

</head>

<body>

    <p class="textoGrande" id="primero">NEW</p>
    <p class="textoGrande" id="segundo">MUSIC</p>
    <div class="generalContainer">
        <div class="informationContainer">
            <div class="imageContainer">
                <img class="cover" src="../imagenes/raindrops.png" alt="">
            </div>
            <div class="infoContainer">
                <div class="textContainer">
                    <h1>MNKYBSNSS</h1>
                    <h2>RAINDROPS</h2>
                    <h3>COLOMBIA</h3>
                </div>
                <div class="buttonContainer">
                    <a href=""> <p> PLAY </p></a>
                </div>
            </div>
        </div>

    </div>

    <div class="canvas"></div>

    <script src="../js/p5.min.js"></script>
    <script src="../addons/p5.dom.min.js"></script>
    <script src="../addons/p5.sound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineLite.min.js"></script>
    <script src="../js/animacionesstart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineLite.min.js"></script>
    <script src="../js/interaccc.js"></script>
</body>

</html>