@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$fuente: 'Poppins',
sans-serif;
$blanco:#f2f2f2;
$negro: rgb(65,
65,
65);
* {
    font-family: $fuente;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #ffd050;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #797979;
    /* Gecko Browsers */
}

.menuIcon {
    background: url(iconos/menu.svg) no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 40px 80px;
    left: 0;
    transition: all 0.9s;
    cursor: pointer;
    top: 0;
}

.menuIconNegro {
    background: url(iconos/menuNegro.svg) no-repeat center center;
}

body.viewing-page-1 {
    .mostrar {
        top: 0;
        background: rgba(0, 0, 0, 0.88); //      background: rgba(188, 10, 15, 0.85);
        section.primeraPag {
            background: url(../imagenes/childish.jpg) no-repeat center center;
        }
    }
    a.enlaces_link {
        color: $blanco;
    }
    a.menu_link {
        color: rgb(199, 199, 199);
    }
    div.skip p.skip a{
            color: $blanco;
    }
}

body.viewing-page-2,
.viewing-page-3,
.viewing-page-4,
.viewing-page-6 {
    p.numeracion {
        color: $negro;
    }
    .menuIcon {
        background: url(iconos/menuNegro.svg) no-repeat center center;
    }
    a.enlaces_link {
        color: $negro;
    }
    .redboneLogoNegro {
        opacity: 1;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */
    }
    div.redes_facebook {
        background: url("iconos/fbNegro.svg") no-repeat center center;
    }
    div.redes_instagram {
        background: url("iconos/instagramNegro.svg") no-repeat center center;
    }
    div.redes_twitter {
        background: url("iconos/twitterNegro.svg") no-repeat center center;
    }
    div.redes_youtube {
        background: url("iconos/youtubeNegro.svg") no-repeat center center;
    }
    .moverMenuIcon {
        background: url(iconos/xNegro.svg) no-repeat center center !important;
    }
}

.home {
    .redboneLogo {
        background: url(iconos/logo.svg) no-repeat center center;
        width: 150px;
        height: 45px;
        position: absolute;
        top: 3.5%;
        left: 16%;
        transition: all 0.9s;
        /* For IE8 and earlier */
    }
}

body {
    background: #fff;
}

section.primeraPag {
    background: url(../imagenes/childish.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.4s;
}

.grayscale {
    background: url(../imagenes/childish.jpg);
    filter: grayscale(100%);
    /* Current draft standard */
    -webkit-filter: grayscale(100%);
    /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* Not yet supported in Gecko, Opera or IE */
    filter: url(resources.svg#desaturate);
    /* Gecko */
    filter: gray;
    /* IE */
    -webkit-filter: grayscale(1);
    /* Old WebKit */
}

div.contenedor {}

.redboneLogo {
    background: url(iconos/logo.svg) no-repeat center center;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 20%;
    transition: all 0.9s;
    display: block;
}

.redboneLogoNegro {
    background: url(iconos/logoNegro.svg) no-repeat center center;
    width: 150px;
    height: 45px;
    position: absolute;
    top: 3.5%;
    left: 16%;
    transition: all 0.9s;
    opacity: 0;
    filter: alpha(opacity=0);
    /* For IE8 and earlier */
}

p.numeracion {
    font-size: 1em;
    position: absolute;
    margin-left: 80px;
    top: 50%;
    transition: all 0.9s;
    color: $blanco;
    font-weight: 100;
    font-style: italic;
}

p.decoracion {
    font-size: 1em;
    position: absolute;
    margin-left: 95%;
    top: 50%;
    transition: all 0.9s;
    color: $blanco;
}

.moverMenuIcon {
    background: url(iconos/x.svg) no-repeat center center !important;
    left: 49%;
    margin-left: 0px;
}

.navegacion {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(250, 250, 250, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
}

.mostrar {
    top: 0;
    background: rgba(255, 255, 255, 0.95);
}

a {
    text-decoration: none;
}

.menu {
    list-style: none;
    font-style: none;
    text-decoration: none;
    margin: 300px;
}

a.menu_link {
    text-decoration: none;
    color: $negro;
    margin: 0;
    font-size: 1.3em;
    font-weight: 200;
    transition: all 0.4s;
}

div.enlacesInteres {
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 5;
    list-style: none;
}

div.skip {
    position: absolute;
    right: 70px;
    bottom: 10px;
    z-index: 5;
    list-style: none;
    p.skip {
        a {
            color: $negro;
            font-size: 1em;
            font-weight: 700;
            letter-spacing: 1px;
            transition: all 0.4s;
        }
    }
}

// ------------ KEYFRAME SKIP -------------------//
p.skip {
    animation: bounce 1s alternate infinite ease-in;
}

@media screen and (min-width:701px) {
    @keyframes bounce {
        0% {
            transform: translateY(50%);
        }
        100% {
            transform: translateY(-10%);
        }
    }
    p.skip {
        display: inline-block;
        /*needed to trigger update */
    }
}

@media screen and (max-width:700px) {
    @keyframes bounce {
        0% {
            transform: translateY(-200%);
        }
        100% {
            transform: translateY(0);
        }
    }
    p.skip {
        display: block;
        /* needed to trigger update */
    }
}

//------------- KEYFRAME SKIP ---------------//
li.enlaces_item {
    margin-right: 80px;
    display: inline-block;
    float: right;
    transition: 0.4s;
}

a.enlaces_link:hover {
    letter-spacing: 0.1em;
    font-weight: 900;
}

div.redes_facebook {
    margin-right: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("iconos/fb.svg") no-repeat center center;
    transition: all 1s;
}

div.redes_instagram {
    margin-right: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("iconos/instagram.svg") no-repeat center center;
    transition: all 1s;
}

div.redes_twitter {
    margin-right: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("iconos/twitter.svg") no-repeat center center;
    transition: all 1s;
}

div.redes_youtube {
    margin-right: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("iconos/youtube.svg") no-repeat center center;
    transition: all 1s;
}

div.redesSociales {
    display: inline-block;
    position: absolute;
    top: 90%;
    margin-left: 80px;
}

div.redesSocialesPag2 {
    position: relative;
}

li.redes_item {
    margin: 20px;
    margin-right: 30px;
    display: inline-block;
}

a.enlaces_link {
    text-decoration: none;
    color: $blanco;
    margin: 0;
    font-size: 0.9em;
    font-weight: 200;
    transition: all 0.4s;
    display: inline-block;
}

#menu_link_uno {
    transition: all 0.9s;
}

a.menu_link:hover {
    font-weight: 900;
    letter-spacing: 1em;
}

.menu_item {
    margin: 0;
    margin: 10px;
}

div.newMusic {
    text-align: right;
    position: absolute;
    top: 45%;
    right: 10%;
}

h1 {
    font-style: italic;
    letter-spacing: 10px;
    font-size: 1.3em;
    font-weight: 100;
    color: $blanco;
}

span {
    font-weight: 900;
}

button.newMusicButton {
    margin: 20px 0px;
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 1.3em;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
}

/* PAGINA DOS */

div.imagen {
    width: 30%;
    height: 100%;
    top: 0px;
    left: 35%;
    position: absolute;
}

section.segundaPag {
    background: #fff;
    div.imagen {
        background: url(../imagenes/grimes1.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
    }
}

section.terceraPag {
    background: #fff;
    div.imagen {
        background: url(../imagenes/bjork.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
    }
}

section.cuartaPag {
    background: #fff;
    div.imagen {
        background: url(../imagenes/dua.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
    }
}

div.colorGris {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60%;
    background: #f2f2f2;
}

h2 {
    font-size: 3em;
    color: #414141;
    font-weight: 900;
    position: relative;
    margin-top: 30%;
    margin-left: 80px;
    line-height: 1em;
}

div.parrafo {
    width: 20%;
    height: auto;
    position: absolute;
    top: 40%;
    right: 5%;
}

p.textoParrafo {
    font-weight: 200;
    color: $negro;
    font-size: 1em;
    text-align: right;
}

/* PAGINA LARGA */

.banner {
    background: url(../imagenes/grimes.jpg)no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.contenidoBanner {
    padding: 180px 0px 40px 250px;
}

h1.textoBanner {
    color: $blanco;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
}

h2.home {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h3.home {
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
}

button.buyNowButton {
    margin: 20px 0px;
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
}

.contenidoBanner {
    display: inline-block;
}

.grimesAlbum {
    display: inline-block;
    right: 20%;
    margin-left: 600px;
    img {
        right: 50%;
        width: 210px;
        height: 210px;
        box-shadow: 0 10px 100px rgba(0, 0, 0, 8);
    }
}

.atras {
    width: 100%;
    height: 100%;
}

div.contenedorCD {
    width: 400px;
    height: 400px;
    -webkit-perspective: 2500;
}

.CD {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s;
}

.CD:hover {
    transform: rotateY(180deg)
}

.lado {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.frente {
    width: 100%;
    height: 100%;
}

.atras {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.frente.lana {
    background: url(../imagenes/albumcovers/lustforlife1.jpg)no-repeat center center;
    background-size: cover;
}

.atras.lana {
    background: url(../imagenes/albumcovers/lustforlife2.jpg)no-repeat center center;
    background-size: cover;
}

.frente.tyler {
    background: url(../imagenes/albumcovers/flowerboy1.jpg)no-repeat center center;
    background-size: cover;
}

.atras.tyler {
    background: url(../imagenes/albumcovers/flowerboy2.jpg)no-repeat center center;
    background-size: cover;
}

.frente.thexx {
    background: url(../imagenes/albumcovers/iseeyou1.jpg)no-repeat center center;
    background-size: cover;
}

.atras.thexx {
    background: url(../imagenes/albumcovers/iseeyou2.jpg)no-repeat center center;
    background-size: cover;
}

.frente.lorde {
    background: url(../imagenes/albumcovers/melodrama1.jpg)no-repeat center center;
    background-size: cover;
}

.atras.lorde {
    background: url(../imagenes/albumcovers/melodrama2.jpg)no-repeat center center;
    background-size: cover;
}

section.newMusic {
    width: 100%;
    background: #f2f2f2;
}

div.nuevaMusica {
    width: 80%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background: $blanco;
    padding-bottom: 100px;
}

article {
    margin: 30px;
    width: auto;
    height: 48%;
    justify-content: center;
}

.home {}

article.artistaUno {
    margin-right: 100px;
}

article.artistaTres {
    margin-right: 100px;
}

div.contenedorHome {
    div.navegacion {
        position: fixed;
    }
    div.menuIcon {
        position: fixed;
    }
}

section.gallery {
    background: #fff;
}

div.galeria {
    width: 80%;
    justify-content: center;
    margin: auto;
}

div.fila {
    display: flex;
}

div.imagenGaleria img {
    padding: 10px;
    display: block;
    width: 100%;
    transition: all 0.4s;
}

div.imagenGaleria img:hover {
    opacity: 0.5;
}

.fotos {
    background: rgba(255, 255, 255, 0.95);
    pointer-events: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    transition: all 0.4s;
}

.fotos:target {
    pointer-events: all;
    opacity: 1;
}

div.foto {
    width: 80%;
    height: 80%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    img {
        width: 80%;
        height: auto;
    }
}

p.artista1 {
    position: absolute;
    top: 80%;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 0px;
    font-size: 4em;
    letter-spacing: 1em;
    font-weight: 800;
    color: rgba(5, 5, 5, 0.07);
}

p.artista {
    text-align: center;
    width: 100%;
    padding: 40px 10px 10px 10px;
    font-size: 2em;
    font-weight: 800;
    color: $negro;
}

button.x {
    display: block;
    color: #f2f2f2;
    background: #414141;
    letter-spacing: 5px;
    border: none;
    margin: auto;
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 0.8em;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid #414141;
    outline-style: none;
}

button.x:hover {
    color: #414141;
    background: #f2f2f2;
    border: 1px solid #414141;
}

h2.titulos {
    text-align: center;
    display: block;
    margin: 0px;
    padding: 50px 10px 50px 10px;
    font-size: 3em;
    color: #414141;
    font-weight: 900;
}

section.especificaciones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
}

div.contenidoEsp {
    width: 100%;
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
}

div.imagenesNY {
    display: block;
    width: 100%;
    transition: all 0.4s;
    background: url(../imagenes/lana1.jpg) no-repeat center center;
    background-size: cover;
    display: block;
}

div.imagenesLA {
    width: 100%;
    transition: all 0.4s;
    background: url(../imagenes/childish.jpg) no-repeat center center;
    background-size: cover;
    display: block;
}

div.info {
    padding: 100px 0px 60px 0px;
    background: #fbfbfb;
    display: block;
    width: 100%;
    transition: all 0.4s;
}

article.city {
    color: $negro;
    text-align: center;
    margin: auto;
    padding: 0;
    position: relative;
}

div.tituloTec {
    width: 100%;
    text-align: center;
}

div.categorias {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin: auto;
    font-weight: 700;
}

div.informacion {
    padding: 10px;
    width: 49%;
    display: inline-block;
    text-align: left;
    margin: auto;
}

h4 {
    font-size: 2em;
    letter-spacing: 10px;
}

p {
    font-weight: 200;
    text-align: center;
    color: #5A5A5A;
    margin-bottom: 50px;
}

strong {
    font-weight: 800;
}

input {
    display: block;
    width: 60%;
    text-align: center;
    margin: auto auto 30px auto;
    padding: 10px;
    color: #414141;
    letter-spacing: 10px;
    font-size: 1em;
    font-weight: 100;
    border-style: none;
    outline-style: none;
    background: #f2f2f2;
    border-radius: 100px;
    transition: all 0.4s;
}

input:focus {
    background: #414141;
    color: #f2f2f2;
    letter-spacing: 2px;
    font-weight: 400;
}

button.newsletterButton {
    border-radius: 100px;
    background: #f2f2f2;
    display: block;
    color: #414141;
    font-weight: 800;
    font-size: 1em;
    padding: 10px;
    width: 20%;
    border-style: none;
    margin: auto;
    margin-bottom: 150px;
    transition: all 0.4s;
}

button.newsletterButton:hover {
    background: #414141;
    color: #f2f2f2;
    letter-spacing: 10px;
}

section.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    background: #202020;
}

div.contenidoFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background: #202020;
    background: url(../imagenes/footer.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logos {
    text-align: center;
    padding: 100px 0px;
    width: 100%;
    height: auto;
    img {
        padding-bottom: 40px;
    }
}

.footerInfo {
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    display: block;
}

.footerRedes {
    width: 100%;
    height: auto;
    display: block;
}

li {
    text-align: center;
    a {
        color: #c9c9c9;
    }
}

p.enFooter {
    margin-top: 60px;
    color: #c3c3c3;
}

.redesSocialesFooter {
    text-align: center;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}